<%- include('layout/head.ejs', { pageConf }) %>

<div id="app">
	<%- include('templates/common/header.ejs', {
	 fieldData, 
	 phoneData 
	}) %>

	<%- include('templates/detail/detail_board.ejs', {
		phoneDetail
	}) %>

  <%- include('templates/common/footer.ejs') %>
</div>

<%- include('datas/data.ejs', {
	domId: 'J_fieldData',
	data: fieldData 
}) %>

<%- include('datas/data.ejs', { 
	domId: 'J_phoneData',
	data: phoneData 
}) %>

<%- include('layout/foot.ejs', { pageConf }) %>